<h1>Welcome!</h1>

<div class="play-container">
    <p>You've clicked <span (click)="countClick()">this</span> {{ clickCounter }} times.</p>
</div>

<div class="play-container">
     4
        <input type="text" [(ngModel)]="name"><br>
        <strong>You said: </strong> {{ name }}
    
</div>
<div class="play-container" [ngClass]="setClasses()">
    <ng-template [ngIf]="clickCounter" [ngIfElse]="none">
        <p>The click counter <strong>IS GREATER</strong> than 4.</p>
    </ng-template>

    <ng-template #none>
        <p>The click counter is <strong>not greater</strong> than 4.</p>
    </ng-template>
</div>